*{
  padding: 0;
  margin: 0;
  font-family: 'Open Sans', sans-serif;
  box-sizing: border-box;
}

#map {
  height: 80vh;
  width: 100%;
}

#card-columns{
  justify-content: center;
}

.fab{
  font-size: 1.5rem;
}


a { 
  color: inherit; 
} 

#modalIcons{
	align-items: center;
}

#modalIcons :last-child{
}



	